<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>

<body>
  <%-include('partials/header')%>
  <div class="pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 bg-white rounded">
          <!-- Shopping cart table -->
          <h4 class="aling-flex-start text-muted font-weight-bold sansserif my-3">Carrito</h4>

          <div class="table-responsive shadow rounded-lg">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="aling-flex-start text-muted font-weight-bold sansserif text-center">Product</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="aling-flex-start text-muted font-weight-bold sansserif text-center">Price</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="aling-flex-start text-muted font-weight-bold sansserif text-center">Quantity</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="aling-flex-start text-muted font-weight-bold sansserif text-center">Remove</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% for (const product of products){ %>
                <tr>
                  <th scope="row" class="border-5 align-items-center">
                    <div class="p-2">
                      <img src="/img/<%= product.img %>" alt="1" width="2" class="img-fluid rounded shadow-sm">
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle"><%= product.name %>
                          </a></h5>
                        <span class="text-muted font-weight-normal font-italic d-block">Category
                          ID:<%= product.categoryId %> </span>
                      </div>
                    </div>
                  </th>
                  <td class="border-bottom align-middle text-center"><strong><%= product.price %> </strong></td>
                  <td class="border-bottom align-middle text-center">
                    <div class="align-middle">
                      <span class="text-muted font-weight-normal font-italic d-block"><%= product.quantity %> </span>
                    </div>
                  </td>
                  <td class="border-buttom align-middle"><button type="submit"
                      class="fmx-1 btn btn-danger erase-button" value="<%= product.id %>">Borrar</button></i></a></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <!-- End -->
        </div>
      </div>
      <div class="row py-5 p-4 bg-white rounded shadow-sm">
        <div class="col-lg-6">
          <div class="aling-flex-start text-muted font-weight-bold sansserif text-center">Coupon code</div>
          <div class="p-4">
            <p class="font-italic mb-4">If you have a coupon code, please enter it in the box below</p>
            <div class="input-group mb-4 border rounded-pill p-4">
              <input type="text" placeholder="Apply coupon" aria-describedby="button-addon5"
                class="form-control border-0">
              <div class="input-group-append border-0 ">
                <button class="btn btn-primary col-lg-10 form-button"></i>Apply coupon</button>
              </div>
            </div>
          </div>
          <div class="aling-flex-start text-muted font-weight-bold sansserif text-center">Instructions for seller</div>
          <div class="p-4">
            <p class="font-italic mb-4">If you have some information for the seller you can leave them in the box below
            </p>
            <textarea name="" cols="30" rows="2" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="aling-flex-start text-muted font-weight-bold sansserif text-center">Order summary </div>
          <div class="p-4">
            <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.
            </p>
            <ul class="list-unstyled mb-4">
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal
                </strong><strong>$<%= total - 10 %> </strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Shipping and
                  handling</strong><strong>$10.00</strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong
                  class="text-muted">Tax</strong><strong>$0.00</strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
                <h5 class="font-weight-bold">$<%= total %> </h5>
              </li>
            </ul>
            <div>
              <script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
                data-preference-id="<%= preference.body.id %>">
              </script>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <%-include('partials/footer')%>
  <script src="/js/cart.js"></script>

</body>

</html>