<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head')%>
    <body>
        <%-include('partials/header')%>
        
            <div class=" container-fluid flex-row ml-3 mt-4">
                <h3 class="sansserif mb-3">Recomendados para vos</h3>
                <!-- Card Slidder starts here-->
                <div class="row overflow-auto flex-nowrap card-deck">
                    <% for (let i = 0; i<products.length;i++){ %>
                    <div class="col-sm-1 col-md-auto col-lg-3 d-flex align-items-stretch">
                        <div class="card text-left shadow-sm" style="width: 19rem;">
                            <img class="card-img-top card-img " src="/img/<%=products[i].imagen%>"  alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><%=products[i].nombre %> </h5>
                                <p class="card-text d-inline-block text-break height-description"><%=products[i].descripcion%> </p>
                                <p class="card-text font-weight-bolder">$ <%=products[i].precio%> </p>
                                <div>
                                    <a href="/payment" class="btn btn-primary">Comprar</a>
                                    <a href="/products/<%= products[i].id %>"  class="btn btn-info">Detalle</a>
                                </div>
                                
                            </div>
                        </div> 
                    </div>
                    <% } %> 
                </div>
            </div> 
        </div>
        <%- include('partials/footer') %>
        
    </body>
</html>