<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head')%>
    <body>
        <%-include('partials/header')%>
        
            <div class=" container-fluid flex-row ml-3 mt-4">
                <h3 class="font-weight-bold sansserif mb-3">Recomendados para vos</h3>
                <!-- Card Slidder starts here-->
                <% for (let i = 0; i<products.length;i++){ %> 
                <div class="row overflow-auto flex-nowrap">
                    <div class="col-sm-1 col-md-auto col-lg-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/img/<%=products[i].imagen%>"  alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><%=products[i].nombre %> </h5>
                                <p class="card-text"><%=products[i].descripcion%> </p>
                                <p class="card-text"><%=products[i].precio%> </p>
                                <a href="/carrito" class="btn btn-primary">Comprar</a>
                            </div>
                        </div> 
                    </div>
                    <% } %> 

                                    <!-- Card Slidder ends here-->

            </div>
 
        </div>
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
        
    </body>
</html>