<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body>
    <%- include('partials/header') %>
    <div class="container">
        <h2 class="py-3 mx-auto">Editar item</h2>
        <div class=" col-10 card py-4 shadow-sm m-auto ">
            <div class="row">
                <div class="mr-auto col-md-6 col">
                    <h3 class=" sansserif mb-3 "><%= product.name %></h2>
                    <div class="">
                        <img class="img-edit-form img-thumbnail" src="/img/<%= product.img %>" alt="tostadora">
                    </div>
                </div>

                <div class="col-md-5 col">
                    <h3 class="sansserif">Datos</h3>
                    <form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                         <input type="hidden" id="id" name="id" value="<%= product.id %>">
                        <div class="row form-items justify-content-center">

                            <div class="d-flex flex-wrap col-12 form-items">
                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder=" <%= product.name %> ">
                            </div>
                            <div class=" d-flex flex-wrap col-12 form-items">
                                <label for="description">Descripcion del articulo</label>
                                <textarea placeholder="<%= product.description %> " class="form-control" id="description" name="description" rows="3"></textarea>
                            </div>
                            <div class=" d-flex flex-wrap col-6 form-items">
                                <input type="number" class="form-control d-flex" id="precio" name="precio"
                                    placeholder="$ <%= product.price %> ">
                            </div>
                            <div class="form-group d-flex flex-wrap col-6 form-items">
                                <select id="categoria" name="categoria" class="form-control">
                                    <option value="<%= product.categoryId  %> " disabled selected>
                                        <%= product.categoryId  %></option>
                                    <% for (const category of categories) { %>
                                    <option value="<%= category.id %>"> <%= category.name %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="custom-file form-items mb-4">
                                <input type="file" class="custom-file-input" id="imagen" name="imagen">
                                <label id="file-name" class="custom-file-label" for="imagen">Selecciona una nueva
                                    imagen</label>
                            </div>
                            <div class="d-flex container form-button"> 
                                <button type="submit"
                                    class="mx-1 btn btn-success col-lg-3 form-button">New</button>
                                <button type="submit" class="mx-1 btn btn-primary col-lg-3 form-button">Edit</button>
                                <form class="" enctype="multipart/form-data" name="deleteform"
                                    action="/products/<%= product.id %>?_method=DELETE" method="POST">
                                    <input type="hidden">
                                    <button type="submit" class="mx-1 btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <h3 class="my-4 font-weight-bold sansserif mb-3">Otros Productos</h3>
        <div class="row overflow-auto flex-nowrap card-deck">
            <% for (const prod of allProducts) { %>
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-thumbnail img-fluid" src="/img/<%= prod.img %> " alt="">
                </a>
            </div>
            <% } %>
        </div>
    </div>
<%- include('partials/footer') %>
<script>
    $('#imagen').change(function () {
        $("#file-name").text(this.files[0].name);
    });
</script>
</body>
</html>